In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os 
sns.set()
%matplotlib inline
warnings.filterwarnings("ignore")

In [2]:
os.chdir("/work/signate_practice/lodging_services/input")

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
combine = pd.concat([train, test])

In [4]:
print(train.shape, test.shape)
print(train.info())
print(test.info())
print(train.isnull().sum(), test.isnull().sum())

(55583, 29) (18528, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55583 entries, 0 to 55582
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      55583 non-null  int64
 1   accommodates            55583 non-null  int64
 2   amenities               55583 non-null  object
 3   bathrooms               55436 non-null  float64
 4   bed_type                55583 non-null  object
 5   bedrooms                55512 non-null  float64
 6   beds                    55487 non-null  float64
 7   cancellation_policy     55583 non-null  object
 8   city                    55583 non-null  object
 9   cleaning_fee            55583 non-null  object
 10  description             55583 non-null  object
 11  first_review            43675 non-null  object
 12  host_has_profile_pic    55435 non-null  object
 13  host_identity_verified  55435 non-null  object
 14  host_response_rate      41879 non-null  object
 15  host_since              55435 non-null  object
 16  instant_bookable        55583 non-null  object
 17  last_review             43703 non-null  object
 18  latitude                55583 non-null  float64
 19  longitude               55583 non-null  float64
 20  name                    55583 non-null  object
 21  neighbourhood           50423 non-null  object
 22  number_of_reviews       55583 non-null  int64
 23  property_type           55583 non-null  object
 24  review_scores_rating    43027 non-null  float64
 25  room_type               55583 non-null  object
 26  thumbnail_url           49438 non-null  object
 27  zipcode                 54867 non-null  object
 28  y                       55583 non-null  float64
dtypes: float64(7), int64(3), object(19)
memory usage: 12.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18528 entries, 0 to 18527
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18528 non-null  int64
 1   accommodates            18528 non-null  int64
 2   amenities               18528 non-null  object
 3   bathrooms               18475 non-null  float64
 4   bed_type                18528 non-null  object
 5   bedrooms                18508 non-null  float64
 6   beds                    18493 non-null  float64
 7   cancellation_policy     18528 non-null  object
 8   city                    18528 non-null  object
 9   cleaning_fee            18528 non-null  object
 10  description             18528 non-null  object
 11  first_review            14572 non-null  object
 12  host_has_profile_pic    18488 non-null  object
 13  host_identity_verified  18488 non-null  object
 14  host_response_rate      13933 non-null  object
 15  host_since              18488 non-null  object
 16  instant_bookable        18528 non-null  object
 17  last_review             14581 non-null  object
 18  latitude                18528 non-null  float64
 19  longitude               18528 non-null  float64
 20  name                    18528 non-null  object
 21  neighbourhood           16816 non-null  object
 22  number_of_reviews       18528 non-null  int64
 23  property_type           18528 non-null  object
 24  review_scores_rating    14362 non-null  float64
 25  room_type               18528 non-null  object
 26  thumbnail_url           16457 non-null  object
 27  zipcode                 18278 non-null  object
dtypes: float64(6), int64(3), object(19)
memory usage: 4.0+ MB
None
id                            0
accommodates                  0
amenities                     0
bathrooms                   147
bed_type                      0
bedrooms                     71
beds                         96
cancellation_policy           0
city                          0
cleaning_fee                  0
description                   0
first_review              11908
host_has_profile_pic        148
host_identity_verified      148
host_response_rate        13704
host_since                  148
instant_bookable              0
last_review               11880
latitude                      0
longitude                     0
name                          0
neighbourhood              5160
number_of_reviews             0
property_type                 0
review_scores_rating      12556
room_type                     0
thumbnail_url              6145
zipcode                     716
y                             0
dtype: int64 id                           0
accommodates                 0
amenities                    0
bathrooms                   53
bed_type                     0
bedrooms                    20
beds                        35
cancellation_policy          0
city                         0
cleaning_fee                 0
description                  0
first_review              3956
host_has_profile_pic        40
host_identity_verified      40
host_response_rate        4595
host_since                  40
instant_bookable             0
last_review               3947
latitude                     0
longitude                    0
name                         0
neighbourhood             1712
number_of_reviews            0
property_type                0
review_scores_rating      4166
room_type                    0
thumbnail_url             2071
zipcode                    250
dtype: int64

In [5]:
train.head()

,id,accommodates,amenities,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,cleaning_fee,...,longitude,name,neighbourhood,number_of_reviews,property_type,review_scores_rating,room_type,thumbnail_url,zipcode,y
0,0,6,"{TV,""Wireless Internet"",Kitchen,""Free parking ...",2.0,Real Bed,1.0,4.0,flexible,LA,t,...,-118.154761,The Penthouse,NaN,1,Apartment,60.0,Private room,NaN,90804,138.0
1,1,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1.0,Real Bed,1.0,1.0,strict,DC,t,...,-76.978190,Guest Bedroom in Brookland,Brookland,9,House,100.0,Private room,https://a0.muscache.com/im/pictures/e4d8b51f-6...,20018,42.0
2,2,2,"{TV,Internet,""Wireless Internet"",Kitchen,""Indo...",2.0,Real Bed,1.0,1.0,strict,NYC,t,...,-73.926240,Clean Modern Room in Lux Apt 1 Block From J Train,Bushwick,27,Apartment,83.0,Private room,https://a0.muscache.com/im/pictures/5ffecc9b-d...,NaN,65.0
3,3,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1.0,Real Bed,1.0,1.0,strict,SF,t,...,-122.411906,BEST views + reviews! 5/5 stars*****,Nob Hill,38,Apartment,95.0,Private room,NaN,94133,166.0
4,4,2,"{TV,Internet,""Wireless Internet"",""Air conditio...",1.0,Real Bed,1.0,1.0,strict,NYC,t,...,-73.974691,Charming 1-bedroom - UWS Manhattan,Upper West Side,5,Apartment,100.0,Entire home/apt,https://a0.muscache.com/im/pictures/92879730/5...,10024,165.0

In [6]:
drop_id = ["id","amenities","description","first_review","host_has_profile_pic","host_response_rate"
           ,"host_since","last_review","latitude","longitude","name","zipcode"]
train = train.drop(drop_id, axis=1)

In [7]:
train = train.dropna(subset=["beds", "bathrooms", "bedrooms", "host_identity_verified"])
train = train.drop("neighbourhood", axis=1)

In [8]:
print(train["review_scores_rating"].describe())
print(train["review_scores_rating"].unique())
print(train["review_scores_rating"].value_counts())

count    42717.000000
mean        94.089168
std          7.796719
min         20.000000
25%         92.000000
50%         96.000000
75%        100.000000
max        100.000000
Name: review_scores_rating, dtype: float64
[ 60. 100.  83.  95.  94.  91.  nan  87.  88.  98.  96.  92.  97.  90.
  80.  93.  85.  99.  84.  73.  40.  89.  75.  67.  79.  50.  81.  47.
  70.  86.  82.  55.  77.  63.  20.  69.  76.  78.  27.  53.  65.  62.
  64.  35.  74.  72.  57.  49.  68.  71.  30.  66.  58.  54.]
100.0    12041
98.0      3276
96.0      3085
97.0      3065
95.0      2778
93.0      2715
90.0      2125
99.0      1961
94.0      1939
80.0      1582
92.0      1518
91.0      1185
89.0       836
87.0       829
88.0       793
85.0       471
86.0       366
84.0       343
60.0       331
83.0       293
70.0       145
82.0       144
73.0       125
81.0        95
75.0        77
20.0        69
40.0        68
78.0        68
79.0        64
76.0        57
77.0        56
67.0        56
74.0        27
50.0        23
72.0        23
65.0        15
68.0        12
71.0        10
69.0        10
63.0         9
64.0         6
53.0         5
47.0         3
62.0         3
57.0         3
66.0         2
27.0         2
55.0         2
30.0         2
49.0         1
58.0         1
54.0         1
35.0         1
Name: review_scores_rating, dtype: int64

In [9]:
train["review_scores_rating"] = train["review_scores_rating"].fillna(train["review_scores_rating"].median())

In [10]:
train.head()

,accommodates,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,cleaning_fee,host_identity_verified,instant_bookable,number_of_reviews,property_type,review_scores_rating,room_type,thumbnail_url,y
0,6,2.0,Real Bed,1.0,4.0,flexible,LA,t,f,f,1,Apartment,60.0,Private room,NaN,138.0
1,2,1.0,Real Bed,1.0,1.0,strict,DC,t,t,f,9,House,100.0,Private room,https://a0.muscache.com/im/pictures/e4d8b51f-6...,42.0
2,2,2.0,Real Bed,1.0,1.0,strict,NYC,t,f,t,27,Apartment,83.0,Private room,https://a0.muscache.com/im/pictures/5ffecc9b-d...,65.0
3,2,1.0,Real Bed,1.0,1.0,strict,SF,t,t,t,38,Apartment,95.0,Private room,NaN,166.0
4,2,1.0,Real Bed,1.0,1.0,strict,NYC,t,t,f,5,Apartment,100.0,Entire home/apt,https://a0.muscache.com/im/pictures/92879730/5...,165.0

In [11]:
def convert_one_hot_TF(x):
    if x == "t":
        return 1
    elif x == "f":
        return 0
    
train["cleaning_fee"] = train["cleaning_fee"].apply(convert_one_hot_TF)
train["host_identity_verified"] = train["host_identity_verified"].apply(convert_one_hot_TF)
train["instant_bookable"] = train["instant_bookable"].apply(convert_one_hot_TF)

In [12]:
def CheckNull(x):
    if x != "":
        return 1
    else:
        return 0
train["thumbnail_url"] = train["thumbnail_url"].apply(CheckNull)

In [13]:
select_columns = ["bed_type", "cancellation_policy", "city", "property_type", "room_type"]
dummy_df = pd.get_dummies(train[select_columns], drop_first=True)

train = pd.concat([train, dummy_df], axis=1)
train = train.drop(select_columns, axis=1)

In [14]:
train.head()

,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,thumbnail_url,...,property_type_Timeshare,property_type_Tipi,property_type_Townhouse,property_type_Train,property_type_Treehouse,property_type_Vacation home,property_type_Villa,property_type_Yurt,room_type_Private room,room_type_Shared room
0,6,2.0,1.0,4.0,1,0,0,1,60.0,1,...,0,0,0,0,0,0,0,0,1,0
1,2,1.0,1.0,1.0,1,1,0,9,100.0,1,...,0,0,0,0,0,0,0,0,1,0
2,2,2.0,1.0,1.0,1,0,1,27,83.0,1,...,0,0,0,0,0,0,0,0,1,0
3,2,1.0,1.0,1.0,1,1,1,38,95.0,1,...,0,0,0,0,0,0,0,0,1,0
4,2,1.0,1.0,1.0,1,1,0,5,100.0,1,...,0,0,0,0,0,0,0,0,0,0

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
y = train["y"]
X = train.drop("y", axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [16]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error
mse_test = mean_squared_error(y_test, y_pred)
rmse_test = np.sqrt(mse_test)
print(rmse_test)

127.65422211902417

In [18]:
lr.score(X_train, y_train)

0.426621910951963

In [20]:
lr.score(X_test, y_test)

0.4164694310413136

In [24]:
train = pd.read_csv("train.csv")

In [27]:
train.head()

,id,accommodates,amenities,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,cleaning_fee,...,longitude,name,neighbourhood,number_of_reviews,property_type,review_scores_rating,room_type,thumbnail_url,zipcode,y
0,0,6,"{TV,""Wireless Internet"",Kitchen,""Free parking ...",2.0,Real Bed,1.0,4.0,flexible,LA,t,...,-118.154761,The Penthouse,NaN,1,Apartment,60.0,Private room,NaN,90804,138.0
1,1,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1.0,Real Bed,1.0,1.0,strict,DC,t,...,-76.978190,Guest Bedroom in Brookland,Brookland,9,House,100.0,Private room,https://a0.muscache.com/im/pictures/e4d8b51f-6...,20018,42.0
2,2,2,"{TV,Internet,""Wireless Internet"",Kitchen,""Indo...",2.0,Real Bed,1.0,1.0,strict,NYC,t,...,-73.926240,Clean Modern Room in Lux Apt 1 Block From J Train,Bushwick,27,Apartment,83.0,Private room,https://a0.muscache.com/im/pictures/5ffecc9b-d...,NaN,65.0
3,3,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1.0,Real Bed,1.0,1.0,strict,SF,t,...,-122.411906,BEST views + reviews! 5/5 stars*****,Nob Hill,38,Apartment,95.0,Private room,NaN,94133,166.0
4,4,2,"{TV,Internet,""Wireless Internet"",""Air conditio...",1.0,Real Bed,1.0,1.0,strict,NYC,t,...,-73.974691,Charming 1-bedroom - UWS Manhattan,Upper West Side,5,Apartment,100.0,Entire home/apt,https://a0.muscache.com/im/pictures/92879730/5...,10024,165.0